:root{
    --main-bg-color: #821752;
    --secondary-bg-color: #DE4463;
    --main-txt-color: #F8EFD4;
    --secondary-txt-color: #edc988;
}

/*base styling across all html pages: navbar,
main, img from ourTeamPage.html*/

body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    padding: 0;
    margin: 0;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--secondary-bg-color);
    position: fixed;
    top: 0;
    width: 100%;
}
li a {
    display: block;
    color: var(--secondary-txt-color);
    text-align: center;
    padding: .90em 1.00em;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25em;
}
li a:hover {
    background-color: var(--main-bg-color);
}
li a:visited {
    color: var(--main-txt-color);
}
li img {
    padding-top: .2em;
    padding-left: .2em;
    padding-right: .2em;
    height: 3em;
    width: auto;
}

/* body of all html pages */

main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    padding: 1.00em;
    margin-top: 2em;
}
h2 {
    text-align: center;
}
main section {
    justify-self: stretch;
}
section {
    margin-right: .5em;
}
div {
    text-align: center;
}
img[src="images/catFilterTeam.jpg"] {
    max-width: 85%;
    height: auto;
    border-radius: 90%;
    border-width: 5px;
    border-color: white;
}
img[src="images/tree-736885_1280.jpg"] {
    border: 5px solid var(--secondary-bg-color);
    border-radius: 10px;
}
p span a {
    color: skyblue;
}

/*styling for blog data input on publishPage.html*/

form {
    display: flex;
    flex-direction: column;
    padding: 1.00em;
    background-color: var(--secondary-bg-color);
}
form label {
    font-size: 1.00rem;
}
form textarea {
    resize: inherit;
    height: 100%;
}